header {
    background: lightgrey;
    padding:20px;
}

.hide-toggle {
    display: none;
}

.left-colomn {
    background:orange;
    padding-top:20px;
}

.left-colomn li{
    padding-top:20px;
}

.five-day {
    padding:10px;    
    display:flex;
    justify-content:space-around;
}

.main-body{
    display:flex;
    flex-direction:column;
}
.date {
 font-size:18px;
    text-align:center;
}
.current{
    padding:20px 0px 0px 10px;
}
.pad-left{
    padding-left:10px;
}
.twenty img{
    border: none;
  }

.eighty {
    max-width:400px;

}
.card {
    display: flex;
    flex: 1;
    min-width:150px;
    max-width:175px;
    margin-bottom:20px;
    background: lightgray;
  }
.card-body {
    padding:0px 10px;
}