header {
    background-image: url('./images/Header-bg.png');
    background-size: 100%;
    background-color: #07B2E2;
    padding:20px;
}
h1 {
    font-family: 'Barlow Condensed', sans-serif;
    color: white;
    font-size: 48px;
}
h2 {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 40px;
}
.icon {
    max-width:50px;
    max-height:50px;
    align: center;
}
.hide-toggle {
    display: none;
}

.left-colomn {
    background:orange;
    padding-top:20px;
    padding:20px;
}

.left-colomn li{
    padding-top:20px;
}

.five-day {
    padding:10px;
    padding-top:20px;    
    display:flex;
    justify-content:space-around;
    background-color: #ededed;
}

.main-body{
    display:flex;
    flex-direction:column;
}
.date {
 font-size:18px;
    text-align:center;
}
.current{
    padding:20px 0px 0px 10px;
}
.pad-left{
    padding-left:10px;
}
.twenty img{
    border: none;
  }

.eighty {
    max-width:400px;
}
.card {
    display: flex;
    flex: 1;
    min-width:150px;
    max-width:175px;
    margin-bottom:20px;
    background: white;
  }
.card-body {
    padding:0px 10px;
}

.city-btn {
    background:white;
    font-family: 'Barlow Condensed', sans-serif;   
    font-size: 18px;
    list-style-type: none;
    border-radius: 5px;
    margin-bottom: 10px;
    max-width: 100px;
    line-height: 10px;
    padding-bottom: 20px;
    text-align: center;
}

.uvi-low {
    background:green;
    padding:5px;
    color:white;
    border-radius: 5px;
}

.uvi-med {
    background:orange;
    padding:5px;
    color:white;
    border-radius: 5px;
}
.uvi-high {
    background:red;
    padding:5px;
    color:white;
    border-radius: 5px;
}
